:root {
  /* These are pallet colors as per figma
    we should extract these into an object so they can be referenced in code
  */
  --pale-gold-yellow: #FBFFCA;
  --pine-green: #248e38;
  --ocean-blue: #abdca7;
  --charcoal: #323232;
  --mountain-dew-lime: #AFD91A;
}

/* 

These are default mui breakpoints
xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px

*/

.form-signup {
  text-align: center;
}

.StepThreeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StepThreeInput {
  padding-bottom: 10px;
}